
/*
colors:
bg: 


*/


@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');


body{
    background: linear-gradient(#f3eaf2, #ffff) no-repeat;
    font-size: 62.5%;
}

/*   Header  ------------*/

.navbar-nav{
    flex-direction: row;
    justify-content: space-around;
}
header sup{
    position: relative;
    left: 5px;
    bottom: 3px;
}

.fa-shopping-cart{
    font-size: 3rem;
    background: linear-gradient(120deg, #d88323, #915aff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


/* content index.html   ----------------*/

.card{
    background-color: #fbf9fb;
}

h1{
    display: inline-block;
    font-family: 'Caveat Brush', cursive;
    color: black;
}

nav a{
    font-size: 1.5rem;
    color: #915aff;

}

.card{
    border-radius: 1rem;
    box-shadow: -0.4rem 0.4rem 0.6rem grey;

    padding: 0.5rem 0.5rem;

    cursor: pointer;
}
.card p, label, select, table{
    font-size: 1.1rem;
}

/* FOOTER---------------   */

footer{
    background-color: #f3eaf2;
}

footer ul{
    list-style: none;
    font-size: 1.3rem;
    position: relative;
    right: 1.2rem;
}


.reseaux i{
    font-size: 2.5rem;
    margin: 0.6rem;
}

/*
shop html -----------------------
*/

table i{
    cursor: pointer;
}